<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aguo.blogapi.mapper.TagMapper">

<!--通过文章的ID得到标签-->
    <select id="getTagVoByArticleId"
            parameterType="long"
            resultType="com.aguo.blogapi.pojo.Tag">
        select
               aguo_tag.id id,
               aguo_tag.avatar,
               aguo_tag.tag_name
        from aguo_article
        join aguo_article_tag on aguo_article.id=aguo_article_tag.article_id
        join aguo_tag on aguo_article_tag.tag_id=aguo_tag.id
        where aguo_article.id=#{id}
    </select>
<!--    查询出limit个热门标签-->
    <select id="listHotTagsId" parameterType="int" resultType="Long">
        select tag_id
        from aguo_article_tag
        GROUP BY aguo_article_tag.tag_id
        ORDER BY count(*)
        LIMIT #{limit}
    </select>

</mapper>