<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aguo.blogapi.mapper.TagMapper">

<!--通过文章的ID得到标签-->
    <select id="getTagVoByArticleId"
            parameterType="long"
            resultType="com.aguo.blogapi.pojo.Tag">
        select
               ms_tag.id id,
               ms_tag.avatar,
               ms_tag.tag_name
        from ms_article
        join ms_article_tag on ms_article.id=ms_article_tag.article_id
        join ms_tag on ms_article_tag.tag_id=ms_tag.id
        where ms_article.id=#{id}
    </select>
<!--    查询出limit个热门标签-->
    <select id="listHotTagsId" parameterType="int" resultType="Long">
        select tag_id
        from ms_article_tag
        GROUP BY ms_article_tag.tag_id
        ORDER BY count(*)
        LIMIT #{limit}
    </select>

</mapper>